html, body {
    height: 100%;
    margin: 0;
    background-color: #96d386;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: slideIn 0.5s ease-out;

}


#dev{
    color: #f1f1f1;

}

.footer_main_cont li{
    display:flex;
    padding-top:20px;
}
.ref_icon{
    width:20px;
    padding-right:15px;
}


.wrapper {

    min-height: 100vh; /* 100% від висоти вікна браузера */


    background-color: #f9fafa;;
    width: 100%;
    overflow: hidden
}

.content {
    flex-grow: 1; /* Контент розширюється, займаючи доступний простір */
}

footer {
    background-color: #8fbc8f;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header {
    background-color: #f9fafa;;
    color: #000;
    align-items: center;
    display: flex;
    flex-direction: row;

    font-size: larger;
    justify-content: space-between;
    padding: 30px;
    max-width: 100%;
    overflow: hidden;
}
.secline{
    width: 100%;
    height: 2px;
    background-color: #39a91b;

}

.link_list{
    display: flex;
    flex-direction: row;
    margin-left: 50%;

}

.logo{
    display: flex;
    /* margin-left: 5%; */
    /* border: 2px solid  #39a91b; */
    width: 170px;
    height: 150px;
    border-radius: 30%;
    align-items: center;
    justify-content: center;
    color:#39a91b;
}

.openbtn{
    cursor: pointer;
    background: #96d386;
    border: none;
    border-radius: 5px;

    height: 30px;
}


.container_for_map{
    display: flex;
    flex: row;
    height: max-content;
    width: 100%;
    border: 3px solid greenyellow;
    box-sizing: border-box;
}


.title{
    font-size: larger;
    color: #39a91b;
    margin-left: 5%;


}

.main_text{
    padding: 20px;

}

.main_cont{
    display: flex;
    flex-direction: column;
    line-height: 1.9em;

}

.cont_for_photos{
    display: flex;
    flex-direction: column;
    width: 100%;

}


#second{
    align-self: center;
    margin-top: 5%;
}

.logo_cont{
    /* padding-right: 20%; */
}

.authors{
    /* padding-left: 10%; */
}


.slider{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.prev{
    border: none;
    background-color: #f9fafa;
    cursor: pointer;
}

.next{
    border: none;
    background-color: #f9fafa;
    cursor: pointer;

}

#slider-image{
    object-fit: cover;
    transition: opacity 1s ease;
}

.hidden{
    opacity: 0;
}


#hd{
    font-size: xx-large;

    line-height: 3rem;
    margin-right: 7%;
    text-align: center;
}

.centered_title{
    align-self: center;
}

.cont_slider{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
}

#second_title{
    font-style: italic;
    font-size: 1.5rem;

}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #90ee90;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #60a91b;
    display: block;


}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left  ease 0.3s;
    padding: 16px;

}
table {
    width: 100%;
    border-collapse: collapse;
}
td {

    background-color: lightgreen;
    text-align: center;
    transition-duration: 1s;
}


.main_link{


    text-decoration: none;
    font-size: 25px;
    color: #39a91b;
    display: block;
    transition: 0.3s;

}

.main_link:hover{
    color: #f9fafa;
}

td:hover{
    background-color: rgb(59, 241, 26);
}

.openbtn:hover{
    background-color: #f9fafa;
}

#photo_desc{
    font-style: italic;
    font-size: 1.2rem;
    white-space: nowrap;
}


#arrow{

    height: 8%;
    position: fixed; /* Фіксує кнопку на одному місці */
    bottom: 20px;
    right: 10px;
    cursor: pointer;
    padding: 0; /* Знімаємо відступи від країв кнопки */

    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;

    list-style-type: none;

}

#footer_link{
    white-space: nowrap;
}

.footer_main_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.bold_text{
    font-weight: bold;
    color: #257f11;
}

.inner_ref{
    color: #257f11;

}

.italic_text{
    font-style: italic;
    color: #257f11;
}

.inner_ref:hover{
    color: #a2d509;
}

/* Основні стилі для слайдерів і контейнера */
.slider2 img, .slider3 img {
    width: 150px;
    height: auto;
}


.slider2, .slider3 {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрування елементів */
    overflow: hidden;
}

.slider2 button, .slider3 button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    font-size: 1.5rem;
}

/* Стилі для контейнера */
.books_cont {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap; /* Елементи будуть переноситися на наступний рядок на малих екранах */
    justify-content: space-between;
    gap: 20px;
    margin-left:2%;
    font-size: 1.1rem
}

/* Адаптивні стилі для планшетів */
@media only screen and (max-width: 768px) {
    .slider2 img, .slider3 img {
        max-width: 20rem; /* Зменшити розмір для планшетів */
        max-height: 30rem;
    }

    .slider2 button, .slider3 button {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }

    .books_cont {
        flex-direction: column;
        align-items: center;
    }
    .slider2, .slider3{
        flex-direction: column
    }
    .book_wrapper{
        max-width: 49%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;


    }
    .book_text{
        font-size: 13px;
    }
    footer{
        font-size: 13px;
    }

}

/* Адаптивні стилі для мобільних пристроїв */
@media only screen and (max-width: 480px) {
    .slider2 img, .slider3 img {
        max-width: 15rem; /* Зменшення для смартфонів */
        max-height: 20rem;
    }

    .slider2 button, .slider3 button {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }

    .books_cont {
        flex-direction: column;
        align-items: center;
    }

    footer{
        font-size: 10px;
    }

}


#special_desc{
    padding: 20px;

    border-left: 4px solid lightgreen;
    /* margin-left: 30px; */
    margin-right: 30px;
    background-color:darkseagreen;
    font-size: 1.5rem;
}

#special_desc2{
    padding: 20px;
    border-left: 4px solid lightgreen;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.2rem;

}

#quotes{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 5rem;
    margin-top: 30px;
    margin-bottom: -25px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Збільшення на 20% */
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    100% {
        transform: scale(1);
    }
}

/* Стилі для фону поп-ап */
.popup {
    display: flex; /* Спочатку поп-ап прихований */
    position: fixed;
    right: 3%;
    top: 80%;
    width: 19rem;
    height: 8rem;
    background-color:rgb(241, 241, 241);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Попереду інших елементів */
    border-radius: 10px;
    box-shadow: none;
    animation: pulse 2s infinite;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
    from { scale: 0.8;}
    to { scale: 1;}
  }
  /* Стилі для контенту поп-ап */
  .popup-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 300px;
    animation: slideIn 0.5s ease; /* Анімація для контенту */
}

@keyframes slideIn {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

  /* Стилі для кнопки закриття */
  .close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .close-popup:hover {
    color: red; /* Зміна кольору при наведенні */
  }

  .show_photo{
    cursor: pointer;
    color:#60a91b;
  }





.show_photo:hover{
    color:#257f11;
}

.popup_photo{
    display: none;
    width: 200px;
    height: 200px;
    z-index: 1000;
    position: absolute;
    left: calc(50% - 200px);
    right: calc(50% - 200px);

}

.table1 {
    font-family: 'Arial', sans-serif;
    border-collapse: collapse;
    display: flex;
    margin: 20px auto;
    max-width: 100%; /* Зробимо таблицю адаптивною до ширини */
    overflow-x: scroll; /* Додаємо горизонтальну прокрутку для маленьких екранів */
}

.table1 td {
    border: 2px solid rgb(0, 150, 42);
    padding: 2px;

    border-radius: 8px;
    transition: background-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);


}

/* Анімації та ефекти при наведенні */
.table1 td:hover {
    transform: scale(1.02);
    background-color: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .logo_cont img {
      width: 80px; /* Зменшуємо розмір логотипу */
      height: 80px;
    }

    .title {
      font-size: 1.2em; /* Зменшуємо розмір шрифту */
      text-align: center;
    }

    .cont_slider {
      width: 100%; /* Ширина слайдера 100% */
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .slider img {
      width: 100px; /* Зменшуємо зображення слайдера */
      height: 90px;
    }

    .slider button {
      font-size: 1.5em; /* Зменшуємо кнопки */
    }

    #photo_desc {
      font-size: 1em; /* Зменшуємо підпис до фото */
      text-align: center;
    }
    .link_table{
        display: block;
        overflow-x: scroll;
    }
    .main_link{
        font-size: 12px;
    }
    #popup{
        width: 150px;
        height: 100px;
        font-size: smaller;
    .table1{
        font-size:10px;
    }

}

td{
    padding: 10px;
}
@media only screen and (max-width: 890px) {
    .link_table{
        display: flex;
        overflow-x: scroll;
    }
    #slider-image{
        width: 100px;
        height: 90px;

    }

    #photo_desc{
        font-size: 10px;

    }
    #hd{
        font-size: large;
    }





.book_text{
    align-self: flex-start;
    border-left: 4px solid lightgreen;
    padding-left: 20px;
}

.book_text_wrapper{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 30px;
    margin-right: 30px;
}

/* .book_wrapper{
    display: flex;
    flex-direction: column;
} */

.ref{
    padding-top: 15px;
}


.ref_icon{
    width: 15px;
    padding-right: 10px;

}
}
.footer_main_cont li{
    display: flex;
}



