{% extends 'main.html' %} 

{% block title %} Books {% endblock %}

{% block second_title %} <p class="title" id="second_title"> Книги КЖ</p> {% endblock %}
{% block content %}
<div class="books_cont">
  <span class="book_wrapper">
<div class="slider2">
    <button class="prev" onclick="prevImage2()">&#10094;</button>
    <a href="https://lira-k.com.ua/news/maksim-bilousenko-psiholog-avtor-knigi-dolayuchi-shabloni-trivozhnosti" target="_blank"><img id="slider-image2" src="static\book1\Книга 1 Обкл.jpg" alt="Slider Image" ></a>
    
    <button class="next" onclick="nextImage2()">&#10095;</button>
    <div class="book_text_wrapper">
      <div class="book_text">Білоусенко М. Долаючи шаблони тривожності: книга самодопомоги. - Київ: Видавництво Ліра-К. 2024. - 136 с.</div>
      <p class="book_text">Книга знайомить читачів з ефективною програмою подолання стійких шаблонів підвищеної тривожності, яка створена наприкінці ХХ ст. американським антропологом, проф. Девідом Рейнольдсом на основі терапії японського психіатра Шьоми (Масатаке) Моріти. Програма «Конструктивне Життя» органічно поєднує надбання західної філософії та дзен-буддизму, а наведені в книзі вправи дають можливість самостійно практикувати навички більш врівноваженого і мужнього проживання стресових ситуацій.
        Для всіх, хто хотів би подолати підвищену тривожність і посилити свою стресостійкість, особливо під час війни.
      </p>
    </div>
  </div>
</span>

  <span class="book_wrapper">
  <div class="slider3">
    <button class="prev" onclick="prevImage3()">&#10094;</button>
    <a href="https://lira-k.com.ua/products/konstruktivne-zhittya--pidtrimka-psihichnogo-zdorovya-i-zhittevij-shlyah" target="_blank"><img id="slider-image3" src="static\book2\Книга 2 Обкл.jpg" alt="Slider Image"></a>
    
    <button class="next" onclick="nextImage3()">&#10095;</button>
    <div class="book_text_wrapper">
    <div class="book_text">Рейнольдс Д. Конструктивне життя: підтримка психічного здоров’я і життєвий шлях / переклад. М. Білоусенко. – Київ : Видав- ництво Ліра-К, 2024. – 227 с.</div>
    <p class="book_text">Книга американського антрополога, визнаного західного спеціаліста з японської психотерапії Девіда Рейнольдса (Ph.D.), містить добірку текстів із серії книг про програму «Конструктивне Життя», які опубліковані англійською мовою наприкінці ХХ – початку ХХІ ст. Програму створено на основі двох японських методів особистісних змін: терапії Ш.Моріти (1874–1938) і терапії Найкан І.Йосімото (1916–1988). Конструктивне Життя є методом навчання того, як сприймати реальність такою, яка вона є, через сприйняття усього власного внутрішнього досвіду, насамперед емоцій, таким, яким він є, і керування головним контрольованим параметром особистості – поведінкою, діями. Може бути використана як посібник самодопомоги, так і модальність психотерапії.
      Для всіх, хто хотів би краще налаштувати себе на подолання життєвих труднощів і стресових ситуацій, а також для психологів і психотерапевтів різних напрямів, які прагнули б опанувати терапевтичними методами, пов҆’язаними з філософією Дзен.</p>
    </div>
  </div>
</span>
</div>
{% endblock %}
