{% extends 'main.html' %}

{% block title %} Конструктивне Життя і когнітивно-поведінкова терапія {% endblock %}

{% block second_title %} <p class="title" id="second_title"> Конструктивне Життя і когнітивно-поведінкова терапія </p> {% endblock %}

{% block content %}
<div class="main_cont">
    <div class="main_text">
        {% for paragraph in text1.split('\n') %}
        <p> {{ paragraph }}</p>
        {% endfor %}
        <table class="table1">
            <tbody>
        <tr>
            <td class="t1_row"></td>
            <td class="t1_row"><span class="bold_text">КПТ/РЕПТ</span></td>
            <td class="t1_row"><span class="bold_text">Моріта-терапія</span></td>
        </tr>
        <tr>
            <td class="t1_row"><span class="bold_text"> Що
                викликає
                страждання
                
            </span>
                </td>
            <td class="t1_row">Дисфункціональні,
                ірраціональні переконання та
                автоматичні думки
                
                </td>
            <td class="t1_row">Особистісна схильність
                шинкейшицу, яка включає:
                афективну гіперчутливість,
                тривожність, «застрягаюче»
                мислення, перфекціоністські,
                догматичні, ідеалістичні
                когнітивні тенденції,
                інтроспективний фокус уваги,
                самоконтроль, спроби контролю
                симптомів, уникнення
                тривожності.
                
                </td>
        </tr>
        <tr>
            <td class="t1_row"><span class="bold_text">Що потрібно зробити щоб позбавити клієнта від страждання
                
                </span></td>
            <td class="t1_row">Здійснити когнітивну
                перебудову: змінити
                ірраціональні думки на
                функціональні, раціональні
                </td>
            <td class="t1_row">Здійснити когнітивну
                перебудову: навчити клієнта
                приймати свою тривожність і
                думки як частину своїх сильних
                сторін; заохочувати робити
                активні та важливі дії разом із
                тривогою та занепокоєнням, не
                борючись з ними, не
                намагаючись їх контролювати.
                
                </td>
        </tr>
        <tr>
            <td class="t1_row"><span class="bold_text">Методи
                досягнення
                
                </span></td>
            <td class="t1_row">Виявлення
                дисфункціональних та
                ірраціональних автоматичних
                думок, заперечення їх, заміна
                на раціональні. Експозиція,
                менеджмент симптомів.
                Позитивна реінтерпретація
                тривоги, перебування у її центрі,
                усвідомлення те, що з нею
                можна й треба жити, не
                борючись, і робити
                конструктивні дії.
                                
                </td>
            <td class="t1_row">Позитивна реінтерпретація
                тривоги, перебування у її центрі,
                усвідомлення те, що з нею
                можна й треба жити, не
                борючись, і робити
                конструктивні дії.
                
                </td>
        </tr>
        <tr>
            <td class="t1_row"><span class="bold_text">Націленість
                терапії
                
                </span></td>
            <td class="t1_row">Усунення тривожності,
                некомфортних симптомів
                
                </td>
            <td class="t1_row">Прийняття симптомів як прояву
                позитивних якостей,
                конструктивне життя без
                фокусування на них
                
                </td>
        </tr>
            </tbody>
        </table>
        {% for paragraph in text2.split('\n') %}
        <p> {{ paragraph }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}