{% extends 'main.html' %}

{% block title %} Психічне здоров'я{% endblock %}

{% block second_title %} <p class="title" id="second_title">Психічне здоров’я</p> {% endblock %}

{% block content %}
<div class="main_cont">
    <div class="main_text">
        
        {% for paragraph in text.split('\n\n') %}
        <p> {{ paragraph }}</p>
        {% endfor %}
        <span class="italic_text">З книги Д.Рейнольдса «Розсіяні зливи: нотатки Конструктивного Життя» (D.Reynolds Scattered Showers: Constructive Living Notes. - 2016)</span>
    </div>
</div>
{% endblock %}